.watchlistTabs {
  padding: 1rem;
}

.watchlistContainer {
  background-color: var(--grey-light);
  height: 100%;
}

.watchlistContent {
  padding: 1rem;
}

.watchlistTab {
  color: var(--grey-dark);
  font-weight: 600;
}
