.watchlistTabs {
  padding: 1rem;
}

.watchlistContainer {
  background-color: var(--grey-light);
  height: 100%;
}

.watchlistContent {
  padding: 1rem;
  height: calc(100% - 5rem);
}

.watchlistTab {
  color: var(--grey-dark);
  font-weight: 600;
}

.actionButtons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 100;
}

.fileUploader {
  background-color: var(--p-light);
}
