.miniCard {
  padding: 1rem;
  border-radius: 1rem;
  background-color: lightgray;
  border: 1px solid #e0e0e0;
}

.miniCardTitle {
  margin-top: 0.5rem;
  font-weight: 600;
  max-width: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.miniCardImage {
  position: unset !important;
  height: 10rem !important;
  width: 8rem !important;
}
