.miniCard {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--grey-light);
  border: 1px solid var(--grey-border);
}

.miniCardTitle {
  font-family: var(--root-font);
  margin-top: 0.5rem;
  font-weight: 600;
  max-width: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.miniCardTitle a {
  text-decoration: none;
  color: var(--grey-dark);
}

.miniCardTitle a:hover {
  text-decoration: underline;
}

.miniCardImage {
  position: unset !important;
  height: 10rem !important;
  width: 8rem !important;
}

.miniCardScore {
  font-family: var(--root-font);
  color: var(--grey-dark);
}
