.metadata {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.metadataItem {
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  height: fit-content;
  max-height: 10rem;
  width: 10rem;
  overflow: hidden;
}

.recommendationsContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
